extends layout

block mainContainer
    div(style="text-align:center;padding-top:100px")
        h1 #{messageDto.message}
        p.lead
            | Use this as a starter template for your Web Application
        hr
        p.lead
            | OAuth Integrations
        a(href="profile/linkedIn/access") LinkedIn Connect
