!!! 5
html
    head
        title Web Application Starter Kit
        link(rel='stylesheet', href='/stylesheets/bootstrap-min-cosmo.css')
    body
        include header
        div.container(style="position:relative;margin-top:60px")
            div.row
                div.col-lg-12
                    block mainContainer