extends layout

block mainContainer
    div.col-lg-5(style="text-align:center;padding-top:100px")
        div.media
            a.pull-left(href="#")
                img.media-object(src="#{profile.pictureUrl}")
            div.media-body
                h4.media-heading #{profile.lastName},#{profile.firstName}
                |#{profile.headline}

        div.well(style="margin-top:10px") #{profile.summary}
